---
BasedOnStyle: LLVM
BreakBeforeBraces: Attach
ColumnLimit: 0
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
MaxEmptyLinesToKeep: 1
IndentWidth: 2
TabWidth: 2
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 2
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 2
PackConstructorInitializers: Never
...